*.ipch
*.db
*.opendb
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.cmd
*.symvers
*.cache.mk

*.obj
*.pdb
*.idb
*.log
*.tlog
*.cache
*.manifest
*.user
*.vsix
*.vsp
*.vspx

.vs/
.vscode/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/